<app-navbar>

</app-navbar>


<mat-horizontal-stepper  #stepper>
    <mat-step >
        <ng-template matStepLabel>Data Platform</ng-template>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Workloads</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>DevOps</ng-template>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Cost</ng-template>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Security</ng-template>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Analytics</ng-template>

    </mat-step>
</mat-horizontal-stepper>
