
<mat-toolbar color="primary">
    <mat-toolbar-row>

      <h1>Data Maturity</h1>
      <span class="menu-spacer"></span>

    </mat-toolbar-row>
  
<!--    <mat-toolbar-row>-->
<!--        <div>-->
<!--            <a mat-button [routerLink]="'/home'"> MY TICKETS </a>-->
<!--         -->
<!--           -->
<!--      -->
<!--          </div>-->
<!--      </mat-toolbar-row>-->

       
  </mat-toolbar>
